body{ margin: 0 auto;
    background-color: #fefaec;

}
#main{
    margin: 0 auto;
    background-color: #fefaec;
    width: 100%;
    padding: 20px;

}

img{
    margin: 0 auto;
    max-width: 100%;
    max-height: auto;
}