
*{
    padding: 0;
    margin: 0;
    background-color: rgb(172, 170, 167);
    box-sizing: border-box;
  }
  

.body{
    margin: 0;
}

title{
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 30px;
  font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    color: #ba3b3b;
    margin-top: 25px;
    text-align: center;
}
li{
  list-style: none;
}
a{
  color: #3B6DB8;
  text-decoration: none;
  display: block;
}

.navbar{
  min-height: 50px;
  font-family:'Inter',sans-serif ;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 24px;
  width: 100%;
}
.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.nav-link{
  transition: 0.3s ease;
}
a.nav-link{
  display: block;
  min-width: 190px;
}

.nav-link:hover{
  color:#ba3b3b;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #ba3b3b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger{
  display: none;
  cursor: pointer;
}


.cover {
  display: flex;                    
  align-items: center;                
  justify-content: space-between; 
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;                 
}

.cover-image { 
  width: 709px;         
  height: auto;
  object-fit: cover;                                  
}

.cover-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;                 
  text-align: left;                 
  padding-left: 20px;                
}

.cover-text h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 50px;  
  font-weight: 700;
  color: #3B6DB8;                         
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;         
}

.cover-text p {                 
  color: #39393A;                     
  line-height: 1.6;                  
  margin-bottom: 20px;               
}

.cover .button {
  background-color: #ba3b3b;           
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 10px;                    
}

.cover .button:hover {
  background-color: #74B9D2;         
}
.button {
  padding: 10px 20px;
  background-color: #ba3b3b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #74B9D2;
}
.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px; 
}

.author img {
  width: 1870px; 
  height: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.button1 {
  width: 700px; 
  height: 50px; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px;
}
.book-reviews-container {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100%;       
  text-align: left;      
}

.book-reviews {
  display: flex;
  flex-direction: column;    
  align-items: center;       
  max-width: 700px;          
  width: 100%;             
}

.book-reviews h2 {
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 28px;
  color: #ba3b3b;
}

.book-reviews h3 {
  text-align: center;
  font-size: 22px;
  color: #39393A;
  margin-top: 20px;
}

.book-reviews h2, .book-reviews h3 {
  margin-bottom: 20px;
}

.about-the-book-container {
  font-family: "Inter", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;     
  margin: 0 auto;
  max-width: 900px;        
}

.about-book-image {
  width: 400px;            
  height: auto;        
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;   
}

.about-the-book-container p {
  font-weight: 700;
  color: #333;
  line-height: 1.6;                  
}

.about-the-book-container h1 {
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 30px;
  font-weight: 400;
  color: #ba3b3b;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 12px 20px;
  background-color: #ba3b3b;
  color: white;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #74B9D2;
}

/* Adjusting the "Read Recent Book Reviews" button in the book-reviews section */
.book-reviews .button {
  margin-top: 30px;  /* Adds 30px of space above the button */
  margin-bottom: 20px; /* Optional: Adds 20px of space below the button */
}
.about-the-author {
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  margin: 50px 0;
}

.about-the-author h1 {
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 30px;
  font-weight: 400;
  font-size: 32px;
  color: #ba3b3b;
}

.author-image {
  width: 300px;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.biography {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: left;
}

.col {
  font-family: "Inter", sans-serif;
  font-style: normal;
  display: flex;                
  flex-direction: column;      
  justify-content: center;     
  align-items: center;      
  text-align: left;          
  padding: 20px;             
  width: 100%;                
  box-sizing: border-box;    
  margin: 0 auto;              
}


.col p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #39393A;
  line-height: 30px;
  margin-bottom: 20px;     
  width: 600px;               
}

.book-review-column {
  justify-content: center;
  align-items: center;
  width: 30%; 
  margin-bottom: 20px;
  text-align: left; 
  margin: 0 auto;
}
.book-review-column h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
}
.book-review-column h3 span {
  color: #FFD700; 
}
.recent-red {
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 40px;
  font-weight: 400;
  color: #ba3b3b;        
  text-align: center;
}
.purchase {
  display: flex;
  gap: 20px; 
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
}

.purchase .cover-image {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
}

.purchase .purchase-text {
  max-width: 700px; 
  width: 100%; 
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #39393A;
}

.purchase .button {
  margin-top: 20px;
}

h1{
  font-family:'IM Fell Great Primer SC', serif; ;
  font-size: 40px;
  font-weight: 400;
  color: #ba3b3b;        
  text-align: center;
}

@media (max-width: 768px) {

  .navbar {
    padding: 10px 20px;
    font-size: 18px;
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: rgb(172, 170, 167);  
    z-index: 9999;  
  }

  .nav-menu.active {
    left: 0; 
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    padding: 15px 20px;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  .nav-link:hover {
    color: #ba3b3b;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10000; 
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Cover Image and Text */
  .cover {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    text-align: center;
  }

  .cover-image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .cover-text {
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
  }

  .cover-text h1 {
    font-size: 36px; 
  }

  .cover-text p {
    font-size: 18px; 
  }

  .button {
    padding: 10px 20px;
    font-size: 14px;
  }

  
  .author img {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .book-reviews {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .book-reviews h2, .book-reviews h3 {
    font-size: 24px; /* Adjust for smaller screen */
  }

  .book-reviews .button {
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 15px;
  }


  .about-the-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .about-book-image {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .about-the-book-container p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 90%;
    margin: 10px auto;
  }

  .about-the-book-container h1 {
    font-size: 24px;
  }

  .about-the-author h1 {
    font-size: 28px;
  }

  .author-image {
    width: 80%;
    max-width: 300px;
  }

  .biography {
    flex-direction: column;
    align-items: center;
  }

  .col p {
    font-size: 16px;
    line-height: 1.6;
    width: 90%;
  }

  .book-review-column {
    width: 100%;  
    margin-bottom: 20px;
    padding: 10px;
  }

  .purchase {
    flex-direction: column; 
    align-items: center;
  }

  .purchase .cover-image {
    width: 100%;
    margin-left: 0;
  }

  .purchase .purchase-text {
    margin-right: 0;
    max-width: 90%;
  }
}
