*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
    .body{
    margin: 0;
}

.banner1{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    color: #ba3b3b;
    margin-top: 25px;
}
.logo{
  height:100px;
  width:auto;
}
header{
  background-color: #74B9D2;
}
li{
  list-style: none;
}
a{
  color: #282828;
  text-decoration: none;
}
.col {
    flex: 1; 
    padding: 46px;
    box-sizing: border-box;
}
.navbar{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}
.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 300px;
}
.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color:#ba3b3b;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #ba3b3b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger{
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #74B9D2; 
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0; 
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    padding: 15px 20px;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  .nav-link:hover {
    color: #ba3b3b; 
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}